* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    background: #F8F8FF;
  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #a4bfc0;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  #prof{
    display: flex;
    text-align: left ;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
  
  table {  
    font-family:'Times New Roman', Times, serif;
    margin: auto;
    th, td {
      padding:10px 10px;
      text-align:left;
        text-align:right;
        font-size: 20px;

    }
    td {
      background-color:#eee;    
    }
    th {
      background-color:#009;
      color:#fff;
    }
  }
  .tbl{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px
    
  }
  #mem{
    padding: 20px;
    margin: auto;
    text-align: center;
  }
  #wel{
    font-size: 50px;
    color: #a94442;
    padding: 20px;
    margin: auto;
    text-align: center;
  }